version: '3.8'

services:
  db:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: ttt_user
      POSTGRES_PASSWORD: ttt_password
      POSTGRES_DB: ttt_stats
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ttt_net
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    depends_on:
      - db
    networks:
      - ttt_net
    restart: unless-stopped

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql://ttt_user:ttt_password@db:5432/ttt_stats
      API_KEY: my_secret_api_key
    depends_on:
      - db
    networks:
      - ttt_net
    restart: unless-stopped

  frontend:
    build: ./frontend
    networks:
      - ttt_net
    restart: unless-stopped

  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    networks:
      - ttt_net
    depends_on:
      - backend
      - frontend
      - pgadmin
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    networks:
      - ttt_net

volumes:
  postgres_data:

networks:
  ttt_net:
